#section1 {
    align-items: center;
    background-image: linear-gradient(
        to right,
        rgba(246, 246, 226, 0.9),
        rgba(246, 246, 226, 0.7)
        ),
        url("../images/bebendo-agua.webp");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

#section2 {
    background-color: #e2d5c1;
    display: flex;
    flex-direction: column;
}
